body{
    background-color: black;
}

.backgrounddiv img{
    width: 100vw;
    z-index:1;
}

.screensdiv img{
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: white;
    z-index: 2;
}

.screensdiv :hover{
    opacity: 1;
    fill: #ff8888;
}



#thesis img{
    width: 40.38vw;
    left:3.3vw;
    position: absolute;
    top:24.2vw;
    z-index:2;
}

#ccdiv img{
    width: 37.6vw;
    left:5.4vw;
    position: absolute;
    top:42.5vw;
    z-index:2;
}

#archdiv img{
    width: 38.6vw;
    left:5.85vw;
    position: absolute;
    top:61.6vw;
    z-index:2;
}

#georgiadiv img{
    width: 41.5vw;
    left:53.75vw;
    position: absolute;
    top:22.55vw;
    z-index:2;
}

#glitchdiv img{
    width: 37.97vw;
    left:54.45vw;
    position: absolute;
    top:42.3vw;
    z-index:2;
}

#mosquediv img{
    width: 38.6vw;
    left:54.5vw;
    position: absolute;
    top:61vw;
    z-index:2;
}

#immersiondiv img{
    width: 14.4vw;
    left:78.5vw;
    position: absolute;
    top:6.1vw;
    z-index:2;
}

#leancreekdiv img{
    width: 14.78vw;
    left:53.25vw;
    position: absolute;
    top:5.4vw;
    z-index:2;
}