.thesisdiv img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    opacity: .5;
    transition: all 0.3s ease-in-out;
    color: white;
}

.thesisdiv :hover{
    filter: grayscale(0%);
    opacity: 1;
    fill: #ff8888;
}

.thesisdiv{
    width: 1280px;
    margin: auto;
}

.thesisdiv path{
    stroke: black
}