#AK
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#AK img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#AK img:hover{
    filter: grayscale(0%);
}

#AL
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#AL img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#AL img:hover{
    filter: grayscale(0%);
}

#AR
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#AR img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#AR img:hover{
    filter: grayscale(0%);
}

#AZ
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#AZ img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#AZ img:hover{
    filter: grayscale(0%);
}

#CA
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#CA img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#CA img:hover{
    filter: grayscale(0%);
}

#CO
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#CO img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#CO img:hover{
    filter: grayscale(0%);
}