
#outlines
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#IA
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

.mapdiv svg{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    color: white;
}

.mapdiv :hover{
    filter: grayscale(0%);
    opacity: 1;
    fill: #ff8888;
}

.mapdiv{
    width: 1000px;
    margin: auto;
}

.mapdiv path{
    stroke: black
}

button, img {
    padding: 0;
    font-size: 0;
    border: none;
    width: 96.1px;
    position:absolute;
    top:86.5px;
    left:355.22px;
    z-index: 2;
    opacity: 0
}

.button :hover{
    filter: grayscale(0%);
    opacity: 1;
    fill: #ff8888;
}

#text{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace
}