#outlines
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#IA
{
    position:absolute;
    top:240;
    left:240;
    z-index: 1;
}

#IA img{
    cursor: pointer;
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#IA img:hover{
    filter: grayscale(0%);
    opacity: .5;
}
